# general & RStudio ignore
*.bak
.dropbox
.dropbox.*
.Rproj.user
.Rhistory
.RData
desktop.ini
messages.txt
Thumbs.db
*~

# exclude directories
Test/
Old/

# Ignore knitr/LaTeX compile byproduct files
*.blg
*.synctex
cache/
#fig/*
#*.idx
*.ilg
#*.ind
*.lof
*.log
*.lot
