# general & RStudio ignore
*.bak
.dropbox
.Rproj.user
.Rhistory
.RData

# exclude directories
Test/
Old/

# Ignore LaTeX compile byproduct files
*.blg
*.synctex
#cache/*
#fig/*
#*.idx
*.ilg
#*.ind
*.lof
*.log
*.lot
