# general & RStudio ignore
*.bak
.dropbox
.dropbox.*
.Rproj.user
.Rhistory
.RData
desktop.ini
messages.*
Thumbs.db
*~
# exclude directories
Test/
Old/
# Ignore knitr/LaTeX compile byproduct files
*.synctex
cache/
#fig/*
*.ain
*.aux
*.bbl
*.blg
*.ine
*.ide
*.toc
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
# but include main index files for grep'ing
!book.ind
!book.idx
# also include .aux and .log file for texdepend to re-generate Makefile
!book.aux
!book.log

# ignore generated chapter .tex files
chapter*.tex

# ignore knitr-generated PDFs, by chapter
ch02/fig/*.pdf
ch03/fig/*.pdf
#ch04/fig/*.pdf
#ch05/fig/*.pdf



