H1 { text-align: center; }
H1, H2, H3 { font-family: Arial, Helvetica, sans-serif; }
BODY { 
    background: white; 
    font-family : Verdana, Arial, Sans-Serif;
}
PRE {
  background-color: #FFFFCC;
  color: #000000;
  border: thin solid;
  white-space: pre;
  margin-left:  20pt;
  margin-right: 20pt;
  padding-bottom: 10pt;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-top: 10pt;
 }
PRE.output {
  background-color: #FFFFAA;
  color: blue; 
  border: thin solid;
  margin-left:  20pt;
  margin-right: 20pt;
 }
CODE {
  color: #000000;
 }
DT { 
  font-family: courier, monospace;
  font-weight: bold; 
  }
DT.plain { 
  font-family: Arial, Sans-serif;
  font-weight: bold;
  font-size: 150%; 
  }
TD.title {
  background-color: #FFFF99;
  font-family: Arial, Sans-serif;
  font-size: 150%; 
  text-align: center;
}
TD.linksasL {
  background-color: #FFFF99;
  font-family: monospace;
  font-weight: bold; 
  font-size: 150%;
  width: 10%;
  text-align: left;
}
TD.linksasR {
  background-color: #FFFF99;
  font-family: monospace;
  font-weight: bold; 
  font-size: 150%;
  width: 10%; 
  text-align: right;
}
TT {
  font-family: monospace;
  font-size: 120%;
}
